@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

body {
    font-family: 'DM Sans',sans-serif;
    font-size: 16px;
    background-color: #2a8ff3;
    justify-content: center;
}

.lead {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }

h1 {    
    font-size: 40px;
    color: #ffd936;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;    
}

p1 {    
    font-size: 30px;
    color: #2a8ff3;
    display: flex;
    justify-content: center;    
    font-weight: bold;
    text-align: center;
}

.recorder-instructions {
    max-width: 500px;
    min-height: 425px;
    padding: 5px 5px 15px 5px;
    margin: 10px auto;    
    border-radius: 10px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    background-color: rgb(255, 255, 255);
}

.reading-script {
    max-width: 500px;
    min-height: 425px;
    padding: 5px 5px 15px 5px;
    margin: 10px auto;    
    border-radius: 10px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.step-1A,
.step-2A,
.step-3A,
.step-4A,
.step-5A,
.step-6A {
    width: 90%;
    margin: auto;
}

.recorder-instructions>*>h2 {
    font-size: 18px;
    font-weight: bold;
    color: #2a8ff3;
    margin-bottom: 3px;
    
}

.recorder-instructions>*>p {
    margin: 0;
    font-size: 14px;
}

.hidden {
    display: none;
}

.inactive {
    background-color: #eee !important;
    color: #666 !important;
    cursor: default !important;
}

.mic {
    max-width: 340px;  
    margin: 10px auto;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#micSelect {
    width: 340px;
    height: 30px;
    font-size: 16px;
}

.wave-display {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.audio-playback {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#audio {
    max-width: 500px;  
    margin: 10px auto;
    padding: 10px 10px 10px 10px;    
    align-items: center;
    justify-content: center;
}

.audio-controls {
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#record {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #54595F;
    background-color: #ffd936;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    padding: 15px;
}

#redo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #54595F;
    background-color: #ffd936;
    border: none;
    border-radius: 25px;
    padding: 15px;
    margin: 0 20px;
    cursor: pointer;
}

#stop {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #54595F;
    background-color: #ffd936;
    border: none;
    border-radius: 25px;
    padding: 15px;
    margin: 0 20px;
    cursor: pointer;
}


#submit {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #54595F;
    background-color: #ffd936;
    border: none;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
}

#next {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #54595F;
    background-color: #ffd936;
    border: none;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
}

.button-animate {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 3px 1px #7eda88;
    }

    100% {
        box-shadow: 0px 0px 3px 10px #7eda88;
    }
}

.button-animate2 {
    animation: pulse2 1s infinite;
}

@keyframes pulse2 {
    0% {
        box-shadow: 0px 0px 3px 1px #e7ff35;
    }

    100% {
        box-shadow: 0px 0px 3px 10px #e7ff35;
    }
}

audio::-webkit-media-controls-panel,
video::-webkit-media-controls-panel {
    background-color: #fff;
}

@media all and (max-width: 643px) {
    .audio-controls {
        flex-direction: column;
        align-items: center;
    }

    #stop {
        margin: 20px 0;
    }
}

canvas {
    max-width: 340px;
    min-height: 150px;    
    margin: 10px auto;    
    border-radius: 10px;    
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);  
    cursor: pointer; 

}

#viz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img {
    max-width: 500px;
    min-height: 225px;    
    margin: 10px auto;    
    border-radius: 10px;    
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);  
    cursor: pointer; 
}

#main-block {
    max-width: 350px;
    min-height: 350px;
    padding: 5px 5px 15px 5px;
    margin: 10px auto;    
    border-radius: 10px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    background: #f5df87;
}

form {
    margin: 0 20px;
}

h3 {    
    font-size: 40px;
    color: #2a8ff3;    
    text-align: center;
    margin: 0;
}



input[type=radio] {
    display: none;
}

label#icon {
    margin: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

label.radio {
    position: relative;
    display: inline-block;
    padding-top: 4px;
    margin-left: 10px;
    
    text-indent: 30px;
    overflow: visible;
    cursor: pointer;
}

label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2a8ff3;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked+label:after {
    opacity: 1;
}

.medicine{
    margin-left: 53px;

}

input[type=text] {
    width: calc(100%);
    max-width: 220px;
    height: 36px;
    margin: 0;
    padding-left: 10px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #821818;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: rgb(255, 255, 255);
}

input[type=tel] {
    width: calc(100%);
    min-width: 233px;
    height: 36px;
    margin: 0;
    padding-left: 10px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #821818;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: rgb(255, 255, 255);
}

input[type=password] {
    margin-bottom: 15px;
}

#icon {
    width: 10px;
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #2a8ff3;
    color: #fff;
    text-align: center;
}

/* set arrow positioning */
.arrow {
	width: 30px;
	height: 30px;
	position: fixed;
	/* don't forget set container to relative */	
	margin-left: 0px;	
	z-index: 999;
    bottom: 3%;    
    left: 50%;
    transform: translate(-50%, -50%);
}

/* set arrow styles */
.arrow path {
	stroke: #000000;
	stroke-width: 2px;
	fill: #ff0000;
	animation: down 2s infinite;
}

/* arrow keyframe animation */
@keyframes down {
	0% {
		opacity: 0
	}

	25% {
		opacity: 0.5
	}

	75% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

#progress {

    position: fixed;    
    width: 100%;
    max-width: 350px;
    height: 30px;         
    bottom: 0%;    
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-weight: bold;    
    overflow:hidden;
    background:#000000;
    border-radius:10px;
    border: solid 2px rgb(255, 255, 255); 
  }
  
  .bar {
    position:relative;
    float:left;
    min-width:5%;
    height:100%;
    background:rgb(100, 237, 139);
  }
  
  .percent {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;    
    font-size:12px;
    color:rgb(0, 0, 0);
  }


div.wrapper{
    width:365px;
    height:60px;
    position: fixed; 
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #2a8ff3;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapper span{
    position: absolute;
    top:100px;    
    font-size: 20px;
    letter-spacing: 3px;
    color: #000000b0;
    left:50%;    
    transform: translate(-50%, -50%);     
    font-weight: bold;    
}

#transbox_1 {
    position: fixed;    
    width: 100%;    
    max-width: 1920px;
    height: 100%;         
    bottom: 0%;       
    left: 50%;
    transform: translate(-50%, 0%);

    opacity: 0.9;
    background:#ffffff;       
}

#transbox_2{
    position: fixed;    
    width: 100%;    
    max-width: 1920px;
    height: 100%;         
    bottom: 0%;       
    left: 50%;
    transform: translate(-50%, 0%);

    opacity: 0.9;
    background:#ffffff;       
}
